<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intermeet.android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".IntermeetApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:debuggable="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="HardcodedDebugMode"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Homepage"
            android:exported="false">
        </activity>
        <activity
            android:name=".AccountCreationActivity"
            android:exported="false" />
        <activity
            android:name=".PromptsActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SchoolActivity"
            android:exported="false" />
        <activity
            android:name=".DiscoverActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".DescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".EmailActivity"
            android:exported="false" />
        <activity
            android:name=".BirthdayActivity"
            android:exported="false" />
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoUploadActivity"
            android:exported="false" />
        <activity
            android:name=".BeginningActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentsActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ProfileEmailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".PreferenceActivity"
            android:exported="false"/>
        <activity
            android:name=".PhoneNumberActivity"
            android:exported="false"/>
        <activity
            android:name=".ProfileActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".EditPreference"
            android:exported="false">
        </activity>
        <activity
            android:name=".EditProfile"
            android:exported="false">
        </activity>
        <activity
            android:name=".TipCenter"
            android:exported="false">
        </activity>
        <activity
            android:name=".HelpCenterActivity"
            android:exported="false">
        </activity>

    </application>

</manifest>